<div class="container">
  <h1>Component B</h1>
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Enter user id"
            name="id"
            (ngModelChange)="listSubject$.next($event)"
            [(ngModel)]="id"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <th>Id</th>
              <th>User Id</th>
              <th>Title</th>
            </thead>
            <tbody>
              <tr *ngFor="let items of dataSet">
                <td>{{ items?.id }}</td>
                <td>{{ items?.userId }}</td>
                <td>{{ items?.title }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
